h1 {
    color: red;
    text-align: center;
    font-style: oblique;
}
img {
    width: 400px 
}
#spanId{
    font-size: 28px;
    margin: 50px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: black;
    padding: 50px;
    border: 10px solid red;
    margin: auto;
}
.divClass{
    color: black;
    text-align: center;
    font-size: 30px;
    font-style: unset;
}